@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css');
html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
}
:root {
    --black: #000;
    --white: #fff;
    --title: 'poppins';
    --subtext: 'poppins';
    --coming: 'poppins';
    --linearg1: #0671e4;
    --linearg2: rgb(255, 255, 255);
    --cardbg: #000000a2;


    --light: #fff;
    --dark: #000;
    --p1: #8c58fc;
    --p2: #c28bff;
    --p3: #ffc089;
    --p4: #fce2cb;
    --bg-gradient: linear-gradient( rgb(11, 129, 255),
    rgb(38, 84, 152) 26%,
    rgb(123, 155, 189) 67%,
    rgb(255, 255, 255));


    --primary-color: #0056b3;
  --secondary-color: #17a2b8;
  --accent-color: #ffc107;
  --text-dark: #000000;
  --text-light: #ffffff;
  --background-light: #f8f9fa;
  --background-dark: #000000;
  --card-background: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

*::selection{
    background: #8c58fcda;
}

[data-aos='rotate-c'].aos-animate {
    transform: rotateX(15deg) rotateY(0deg) rotateZ(0deg);
    transition-property: transform;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #858585 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 11px;
}

*::-webkit-scrollbar-track {
    background: #000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #4c4b4b;
    border-radius: 7px;
    border: 0px none #5c5aee;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #cacaca;
}
